.contact {
    width: 100%;
    min-height: 100vh;
    padding: 60px 20px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.contact h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-subtitle {
    color: gray;
    margin-bottom: 40px;
    text-align: center;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #0077ff;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #0077ff;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #005fd1;
}
.success-msg {
    margin-top: 15px;
    padding: 12px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
}